html {
    height: 100%;
}

body {
    background: url('/media/gift1.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: rgb(205, 178, 149);
    font-family: 'Lato';
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: rgb(205, 178, 149);
    min-width: 260px;
}

.btn-black {
    background: black;
    color: rgb(205, 178, 149);
}

.btn-outline-black {
    background: rgb(205, 178, 149);
    color: black !important; 
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: rgb(205, 178, 149) !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: rgb(205, 178, 149);
}

.text {
    color: rgb(205, 178, 149) !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-wood{
    background: #381e06 !important;
    color: rgb(205, 178, 149);
}

a.category-badge > span.badge {
    color: rgb(205, 178, 149); 
    background-color: transparent; 
}

a.category-badge > span.badge:hover {
    background-color: #381e06; 
    color: rgb(205, 178, 149); 
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 150px;
    }
}
